@model IEnumerable<Test.Models.Manhinh>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Kichthuoc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dophangiai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tansoquet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Congnghemh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Camung)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Kichthuoc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dophangiai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tansoquet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Congnghemh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Camung)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Mamh">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Mamh">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Mamh">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
