@model IEnumerable<Test.Models.Sukien>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tensk)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phantramgiamgia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ngaybd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ngaykt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tensk)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phantramgiamgia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ngaybd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ngaykt)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Mask">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Mask">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Mask">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
