@model Test.Models.Sanpham

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Sanpham</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tensp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tensp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Soluong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Soluong)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mausac)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mausac)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ocung)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ocung)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cardmanhinh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cardmanhinh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dacbiet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dacbiet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hdh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hdh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Thietke)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Thietke)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KichthuocTrongluong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KichthuocTrongluong)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Webcam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Webcam)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ramat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ramat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mota)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mota)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dongia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dongia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hinhanh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hinhanh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BoxulyNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BoxulyNavigation.Mabxl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CongketnoiNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CongketnoiNavigation.Mackn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DanhmucNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DanhmucNavigation.Madm)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ManhinhNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ManhinhNavigation.Mamh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RamNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RamNavigation.Maram)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Masp">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
