@model Test.Models.Boxuly

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Boxuly</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Congnghecpu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Congnghecpu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sonhan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sonhan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Soluong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Soluong)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tocdocpu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tocdocpu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tocdotoida)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tocdotoida)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bonhodem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bonhodem)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Mabxl">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
